@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}


body {
 
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-family: Poppins;
    background: url('image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: slategrey;
    width: 100vw;
    height: 100vh;
 

}



header {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    background-color: white;
    border: none;
    margin-top: 0;
    width: 100%;
    height: 50px;
    color: teal;
    padding: 20px;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    border-radius: 10px;
    width: 340px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
   backdrop-filter: blur(10px);
    opacity: 0.9;
    
}



.input-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


h2 {
    font-family: Ubuntu;
    color: teal;
    
    
}

input {
    background: whitesmoke;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-height: 45px;
    width: 250px;
    padding-left: 5px;
}


input:focus {
    outline: none;
}

input::placeholder{
    font-size: 14px;
}



#add-btn {
    background: teal;
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 43px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}


button:hover{
    opacity: 0.7;
}


h5 {
    margin-top: 10px;
    color: slategrey;
    text-align: center;
}

.list-container {
    
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
}


ul {
    margin-top: 30px;
    list-style: none;
    
}


 li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: navy;
    margin-bottom: 20px;
    cursor: pointer;
}

li:hover{
    opacity: 0.7;
}




.completed {
    
    text-decoration: line-through red;
    color: gray;
    
    
}

span {
     background: red;
     border: none;
     border-radius: 5px;
     width: 48px;
     height: 23px;
     padding: 3px;
     font-weight: 400;
     color: white;
     font-size: 14px;
     text-decoration-line: none;
     cursor: pointer;
     transition: 0.25s;
}


span:hover {
    opacity: 0.7;
}



footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    background-color: white;
    border: none;
    width: 100%;
    height: 50px;
    color: teal;
    margin-top: 151px;
}





@media(max-width: 320px){

main {
    width: 280px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 150px;
    margin-bottom: 100px;
    
}
    
  input {
    min-height: 40px;
    padding-left: 5px;
    width: 210px;
    
}


button {
    min-height: 40px;
    padding: 10px;
    font-size: 14px;
}

    
 .list-container {
    
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}